<footer>
    Copyright &copy; Potato Blog<br>
    <a href="https://github.com/Reyzartz"><img src="/images/github.svg"alt="github"/></a>
    <a href="https://www.linkedin.com/in/reyan-rahman/"><img src="/images/linkedin.svg" alt="linkedin"></a>
    <a href="https://twitter.com/reyan_rahman"><img src="/images/twitter.svg" alt=""></a>
</footer>