<a href="/blogs" class="logo">
    <img src="/images/logo_img.png" alt="logo_img"/>
    <div class="main-text">Potato Blogs</div>
    <div class="sub-text">BLOG FOR THE POTATOE</div>
</a>
<nav>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/blogs/create">add blog</a>
        </li>
        <li>
            <a href="/about">about</a>
        </li>
    </ul>
</nav>