<html lang="en">
    <%- include("./partials/head.ejs")%>
<body>
    <img src="./images/logo_img.png" class="ui-image">
    <header>
        <%- include("./partials/header.ejs")%>
    </header>
    <main>
        <form class="add-blog-form">
            <label for="blog-tile">ERROR 404:Page you request not found</label>
        </form>
    </main>
    <%- include("./partials/footer.ejs")%>
</body>
</html>