<html lang="en">
    <%- include("./partials/head.ejs")%>

<body>
    <img src="./images/logo_img.png" class="ui-image">
    <header>
        <%- include("./partials/header.ejs")%>
    </header>
    <main>
        <div class="title">
            About -
        </div>
        <div class="about-paragraph">
            This website is dedicated to how to take care of a potato IF You have got yourself a potato and don’t know how to take care of it then you have to the right place, here u can learn how to pet,feed, walk or get to sleep a potato.Feel free add your own Potato story in the add blog section
<br>
<br>
this website was created by ReyzArtz(Reyan) when he was bored don't take it too seriously it's a potato blog. 
        </div>
    </main>
    <%- include("./partials/footer.ejs")%>
</body>
</html>